.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}
.cart-img {
  height: 35px;
  flex-grow: 0;
}
.banner {
  display: flex;
  align-items: center;
}
.title {
  flex-grow: 1;
}
.menus {
  display: flex;
}
.menu-item {
  width: 90px;
  border: 1px solid black;
}
.menu-item-active {
  background-color: orange;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
}
.product {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 150px;
  height: 140px;
  padding: 5px;
  margin: 5px;
}
.product-name {
  text-align: center;
  flex-grow: 1;
}
.product-price {
  text-align: center;
  flex-grow: 1;
}
.descriptions {
  display: flex;
}
.desc-goods-name {
  flex: 3 0 300px;
}
.desc-goods-price {
  flex: 1 0 100px;
}
.desc-goods-qty {
  flex: 1 0 100px;
}
.cart-list {
  display: flex;
}
.item-name {
  flex: 3 0 300px;
}
.item-price {
  flex: 1 0 100px;
}
.item-qty {
  display: flex;
  flex: 1 0 100px;
}
.item-qty > div {
  width: 30px;
  text-align: center;
}
.total-line {
  flex: 5 0 500px;
  text-align: right;
}
.products-page {
  display: flex;
  flex-direction: column;
}
.products {
  display: flex;
  flex-direction: column;
}
.product-listv2 {
  display: flex;
}
.item-actions {
  flex: 1 0 150px;
}
.action-button {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}
.editor {
  display: flex;
  flex-direction: column;
}
.product-editor-inside {
  display: flex;
}
.product-editor-really-inside {
  flex: 1 0 170px;
}
